@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: black;
    color: white;
  }
}

.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}
.modal.exit {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.modal-content {
  background-color: #fff;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  width: 600px;
}
.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modal-header,
.modal-footer {
  display: flex;
  padding: 10px;
}
.modal-header {
  flex-direction: column;
}
.modal-footer {
  justify-content: center;
}
.modal-footer button {
  border: 2px solid black;
  border-radius: 20px;
  font-weight: bold;
  padding: 4px;
  width: 100px;
}
.modal-footer button:active {
  background-color: black;
  color: #fff;
}
.modal-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
.modal-body {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px;
}
.modal-content th,
td {
  padding: 10px;
}
